{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% trans 'Server Error' %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <style>
  .body-bg {
      background-color: #9921e8;
      background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
  }
  </style>

</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0">
  <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section class="prose lg:prose-xl">
      <h1>{% trans 'Server Error' %}</h1>
      <p>{% trans 'A system error has occurred, try again later.' %}</p>
    </section>
  </main>
</body>
</html>
