{% load i18n static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}virtch{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  {# from realfavicongenerator.net #}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/' %}apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/' %}favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/' %}favicon-16x16.png">
  <link rel="manifest" href="{% static 'favicon/' %}site.webmanifest">
  <link rel="mask-icon" href="{% static 'favicon/' %}safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{% static 'favicon/' %}favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Virtch">
  <meta name="application-name" content="Virtch">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="{% static 'favicon/' %}browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <style>
  .body-bg {
      background-color: #9921e8;
      background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
  }
  </style>

</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0">

  {% block header %}
    <header class="max-w-lg mx-auto">
      <nav>
        <a href="{% url 'world:main_menu' %}">
          <img src="{% static 'images/virtch-logo-full.png' %}" alt="{% trans "Virtch.io" %}" style="height:103px;">
        </a>
      </nav>
    </header>
  {% endblock %}

  {% block main %}
    <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
      <section class="prose lg:prose-xl">
        {% block content %}{% endblock %}
      </section>
    </main>
  {% endblock %}

  {% block footer %}
    <footer class="max-w-lg mx-auto flex justify-center">
      <a href="{% url 'contact' %}" class="hover:underline">{% trans "Contact" %}</a>
      <span class="mx-3">•</span>
      <a href="{% url 'privacy-policy' %}" class="hover:underline">{% trans "Privacy" %}</a>
      <span class="mx-3">•</span>
      <a href="{% url 'terms-of-use' %}" class="hover:underline">{% trans "Terms" %}</a>
      <span class="mx-3">•</span>
      © Virtch <time class="ml-1">{% now 'Y' %}</time>
    </footer>
  {% endblock %}

</body>
</html>

