{% extends 'users/dashboard/base_wide.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <h3 class="text-lg md:text-3xl font-headings font-extrabold text-brand-charcoal leading-tight mb-4 mt-10">{{ title }}</h3>

    {% if validlink %}

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">{% csrf_token %}

        {% if form.errors %}
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-4" role="alert">
            <strong class="font-bold">{% trans "Error" %}</strong>
            <span class="block sm:inline">{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</span>
          </div>
        {% endif %}

        {% include "cms/forms/default.html" with field=form.new_password1 %}

        {% include "cms/forms/default.html" with field=form.new_password2 %}

        <button type="submit" class="btn btn-lg btn-yellow mt-10 ml-3">{% trans "Change my password" %}</button>

    </form>

    {% else %}

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
