html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Linux Biolinum', 'Helvetica Neue', helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
}

section.container {
  min-height: 420px;
}

main {
  min-height: 69vh;
}
